.header {
    height: 3.8rem;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    width: 6.25rem;
    object-fit: contain;
    margin: 0 1.2rem;
    margin-top: 1.1rem;
}